@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                欢迎来到统一认证平台
                <small>(version @version)</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                点击查看
                <a href="~/.well-known/openid-configuration">动态文档</a>
                你可以在此查看元数据及链接的端口.
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                点击 <a href="~/grants">授权</a> 管理你已经操作过的授权.
            </p>
        </div>
    </div>

</div>
