<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${basedir}/Logs" />

  <extensions>
    <add assembly="NLog.Mongo"/>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>

    <!--error to mongodb-->
    <target xsi:type="Mongo"
            name="mongoError"
            includeDefaults="false"
            connectionString="mongodb://localhost:27017"
            databaseName="KnowledgeDb"
            collectionName="ErrorLog">
      <field name="Date" layout="${date}" bsonType="DateTime" />
      <field name="Level" layout="${level}"/>
      <field name="Message" layout="${message}" />
      <field name="Logger" layout="${logger}"/>
      <field name="Exception" layout="${exception:format=tostring}" />

    </target>
    
    <target xsi:type="Mongo"
        name="mongoInfo"
        includeDefaults="false"
        connectionString="mongodb://localhost:27017"
        databaseName="KnowledgeDb"
        collectionName="InfoLog">
    </target>

    <target name="rollingFile"
            xsi:type="File"
            layout="【${level:uppercase=true}】${newline}${longdate}${message}${exception:format=toString,Data:maxInnerExceptionLevel=3} 
            ${event-context:item=Action}           
            ${event-context:item=Amount} 
            ${stacktrace}${newline}>>-------END"            
            fileName="${logDirectory}/${shortdate}.txt"
            archiveFileName="${logDirectory}/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="5"
            concurrentWrites="true"
            createDirs="true"
            autoFlush="true" />

    <target xsi:type="ColoredConsole"
            useDefaultRowHighlightingRules="false"
            name="console"
            layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message} ${event-context:item=Amount} ${stacktrace}"/>
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="Blue" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Green " />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
            
  </targets>

  <rules>
    <!--TRACE,DEBUG,INFO,WARN,ERROR,FATAL-->
    <!--<logger name="*" minlevel="Error" writeTo="mongoError" />
    <logger name="KnowledgeBase.Filters.*" minlevel="Info" maxlevel="Info" writeTo="mongoInfo" />-->
    <!--<logger name="*" minlevel="Info" writeTo="console" />-->
    <logger name="*" minlevel="Error" writeTo="rollingFile" />
  </rules>
</nlog>